* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: url(../images/quinton-coetzee-gpa8Y_Fk7Rg-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  overflow-x: hidden;
}

.home {
  text-decoration: none;
}

#navbar {
  background-color: #54595f;
}

#content {
  padding: 10% 8%;
}

.logo {
  color: #fff;
  text-transform: uppercase;
  padding: 7px 8%;
  font-size: 25px;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #54595f;
  width: 100%;
}

.logo span {
  color: #cf000f;
  font-size: 35px;
}

.nav-links {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  background: #161616;
  position: fixed;
  top: -100%;
  right: -100%;
  width: 40vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 20px;
  font-family: sans-serif;
  transition: all 0.3s linear;
}

.nav-link a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.nav-link a:hover {
  color: #cf000f;
}

.nav-links.active {
  top: 0;
  right: 0;
  z-index: 100;
}

.navbar-button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  font-size: 30px;
  background: none;
  border: none;
  outline: none;
  padding: 20px;
}

.navbar-button i {
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.navbar-button i:hover {
  color: #cf000f;
}

.container {
  display: flex;
  padding: 25px 4%;
}

.passion-heading {
  color: white;
  border-bottom: 2px solid #cf000f;
  width: 30px;
  white-space: nowrap;
}

.info-description {
  display: flex;
  color: white;
  margin-top: 25px;
}

.left-info p {
  margin-bottom: 15px;
}

.right-info {
  margin-left: 150px;
}

.right-info p {
  margin-bottom: 15px;
}

.info-description span {
  margin-left: 25px;
}

.info-description i {
  border-radius: 50%;
  border: 3px solid #cf000f;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.skills-heading {
  color: white;
  border-bottom: 2px solid #cf000f;
  width: 30px;
  white-space: nowrap;
  margin-top: 50px;
}

.footer {
  display: flex;
  justify-content: center;
  color: white;
  padding: 10px;
}

.footer i {
  margin-right: 5px;
}

@media screen and (max-width: 800px) {
  .nav-links {
    width: 100vw;
  }
  #content {
    padding: 20% 8%;
  }
  .info-description p {
    margin-right: 15%;
  }
  .info-description span {
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-right: 30%;
  }
}
