* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: linear-gradient(rgba(10, 22, 34, 0.7), rgba(23, 34, 44, 0.7)),
    url(../images/quinton-coetzee-gpa8Y_Fk7Rg-unsplash.jpg);
  background-size: cover;
  background-position: fixed;
  min-height: 100vh;
  /* min-width: 100vh; */
}

.home {
  text-decoration: none;
}

#navbar {
  background-color: #54595f;
}

#content {
  padding: 5% 7%;
}

.logo {
  color: #fff;
  text-transform: uppercase;
  padding: 7px 8%;
  font-size: 25px;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #54595f;
  width: 100%;
}

.logo span {
  color: #cf000f;
  font-size: 35px;
}

.nav-links {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  background: #161616;
  position: fixed;
  top: -100%;
  right: -100%;
  width: 40vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 20px;
  font-family: sans-serif;
  transition: all 0.3s linear;
}

.nav-link a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.nav-link a:hover {
  color: #cf000f;
}

.nav-links.active {
  top: 0;
  right: 0;
  z-index: 100;
}

.navbar-button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  font-size: 30px;
  background: none;
  border: none;
  outline: none;
  padding: 20px;
}

.navbar-button i {
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.navbar-button i:hover {
  color: #cf000f;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 4%;
}

.card {
  width: 48%;
  margin: 1%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 5%;
  background-color: #54595f;
  margin-top: 70px;
}

.card:hover {
  background-color: #757b83;
}
.Testimonial-heading {
  margin-top: 7%;
  padding: 20px;
  gap: 25px;
  color: #fff;
}

.Testimonial-heading h2 {
  margin-bottom: 10px;
  text-transform: uppercase;
  border-bottom: 2px solid #cf000f;
  font-size: 25px;

  width: 30px;
}

/* .card-info {
  display: flex;
} */
.testimonial-img {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: -29%;
}
.card-info img {
  object-fit: cover;
  border-radius: 50%;
  width: 107px;
  height: 102px;
  margin-bottom: 15px;
  box-shadow: 1px 19px 21px -1px rgba(0, 0, 0, 0.73);
  -webkit-box-shadow: 1px 19px 21px -1px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 1px 19px 21px -1px rgba(0, 0, 0, 0.73);
}
.text-heading {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 5px;
}
.testimonial-text {
  /* margin-left: 25px; */
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  color: white;
  padding: 10px;
}

.footer i {
  margin-right: 5px;
}

@media screen and (max-width: 800px) {
  .nav-links {
    width: 100vw;
  }
  .testimonial-img {
    margin-left: 5%;
  }

  .container {
    justify-content: center;
  }
  .card {
    margin-top: 80px;
  }

  /* .card {
    display: flex;
    align-items: center;
    padding: 10px 5%;
  } */
}
